In [ ]:
def CalBMI(tall, weight):
  BMI = weight / (tall/100)**2
  return round(BMI,2)

In [ ]:
tall = float(input("키를 입력해 주세요(cm) : "))
weight = float(input("몸무게를 입력해 주세요(kg) : "))

print(f"당신의 BMI는 : {CalBMI(tall,weight)} 입니다")

키를 입력해 주세요(cm) : 187
몸무게를 입력해 주세요(kg) : 102.0
당신의 BMI는 : 29.17 입니다

In [43]:
A,B = map(int,input().split())
while True:
    if A > 0:
       if B < 10:
           break
       else:
         B =(int)(input())
    else:
      A =(int)(input())
print(A+B)

5 10
5
10

In [44]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [45]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [46]:
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

사용자명: user, 도메인: example.com

In [47]:
csv_data = "김철수,30,서울,개발자"
data_list = csv_data.split(",")
print(f"분리된 데이터: {data_list}")

분리된 데이터: ['김철수', '30', '서울', '개발자']

In [49]:
folders = ["home", "user", "documents", "project"]
path = "/".join(folders)
print(f"경로: {path}")

경로: home/user/documents/project

In [50]:
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [51]:
multiples_of_3 = [x for x in range(1, 21) if x % 3 == 0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [3, 6, 9, 12, 15, 18]

In [52]:
fruits = ["apple", "banana", "cherry"]
upper_fruits = [fruit.upper() for fruit in fruits]
print(f"대문자 과일: {upper_fruits}")

대문자 과일: ['APPLE', 'BANANA', 'CHERRY']

In [57]:
words = ["Python", "is", "powerful"]
word_lengths = [len(word) for word in words]
print(f"단어 길이: {word_lengths}")

단어 길이: [6, 2, 8]

In [58]:
numbers = [1, 2, 3, 4, 5, 6]
processed = [x**2 if x % 2 == 0 else x for x in numbers]
print(f"처리된 숫자: {processed}")

처리된 숫자: [1, 4, 3, 16, 5, 36]

In [61]:
scores = [95, 87, 92, 88]

sorted_scores = sorted(scores, reverse=True)

print("성적 순위:")

for rank, score in enumerate(sorted_scores, start=1):
  print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 92점
 3등: 88점
 4등: 87점

In [62]:
keys = ["name", "age", "city"]
values = ["홍길동", 25, "부산"]
person_dict = dict(zip(keys, values))
print(f"\n딕셔너리: {person_dict}")

딕셔너리: {'name': '홍길동', 'age': 25, 'city': '부산'}

In [69]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda x : x * 9/5 + 32, celsius))

print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [71]:
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x : x > 0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]

In [72]:
words = ["hi", "hello", "python", "code", "programming"]

long_words = list(filter(lambda x : len(x) >= 5, words))

print(f"\n전체 단어: {words}")
print(f"긴 단어: {long_words}")

전체 단어: ['hi', 'hello', 'python', 'code', 'programming']
긴 단어: ['hello', 'python', 'programming']